name: "virtualmin.dev: virtualmin/virtualmin-yum-groups"

on:
  push:
    branches:
      - master
  release:
    types:
      - prereleased
      - released

env:
  PKG_RELEASE: ${{ github.run_attempt }}
  IS_RELEASE: ${{ github.event_name == 'release' }}
  IS_PRERELEASE: ${{ github.event.release.prerelease || false }}

  BUILD_DEPS: "curl"
  BUILD_BOOTSTRAP: "https://raw.githubusercontent.com/webmin/webmin-ci-cd/main/build/bootstrap.bash"

jobs:
  build-amd64:
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, '[no-build]') }}
    env:
      TZ: Europe/Nicosia
    steps:
      - uses: actions/checkout@v4
      
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with: 
          packages: ${{ env.BUILD_DEPS }}
          version: 1.0

      - name: Fetch dependencies
        run: curl -O ${{ env.BUILD_BOOTSTRAP }}

      - name: Set timezone
        run: sudo timedatectl set-timezone ${{ env.TZ }}

      - name: Build packages
        env:
          CLOUD__IP_ADDR: ${{ secrets.DEV_IP_ADDR }}
          CLOUD__IP_KNOWN_HOSTS: ${{ secrets.DEV_IP_KNOWN_HOSTS }}
          CLOUD__UPLOAD_SSH_USER: ${{ secrets.DEV_UPLOAD_SSH_USER }}
          CLOUD__UPLOAD_SSH_DIR: ${{ env.IS_RELEASE == 'true' && secrets.PRERELEASE_UPLOAD_SSH_DIR || secrets.DEV_UPLOAD_SSH_DIR }}
          CLOUD__SSH_PRV_KEY: ${{ secrets.DEV_SSH_PRV_KEY }}
          CLOUD__GPG_PH2: ${{ secrets.ALL_GPG_PH2 }}
        run: |-

          set -euo pipefail

          # Bootstrap build
          source bootstrap.bash \
            $([[ "$IS_RELEASE" == "true" ]] && echo "--release" || echo "--testing") \
            $([[ "$IS_PRERELEASE" == "true" ]] && echo "--prerelease")

          # Re-sign
          cloud_sign_and_build_repos_auto virtualmin.dev
